<%= form_for(@artist) do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  A member of the following bands
  <hr>

  <br>
  <% Band.all.each do |band| %>




           <%=
           check_box_tag(
           "artist[band_ids][]",
           band.id,
           @artist.band_ids.include?(band.id),
           :id => "artist_band_ids_#{band.id}"
           )
           %>
           <%= label_tag "artist_band_ids_#{band.id}", band.name %>

  <br>
  <% end %>

  <%= hidden_field_tag "artist[band_ids][]" %>
  <p>
    <%= f.submit %>
  </p>
<% end %>